.composition {
  position: relative;
  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    z-index: 1;
    outline-offset: 2rem;
    transition: all 0.2s;
    border-radius: 2px;
    &-p1 {
      left: 0;
      top: -2rem;
    }
    &-p2 {
      right: 0;
      top: 2rem;
    }
    &-p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
        outline: 1.5rem solid $color-primary;
      box-shadow: 0 2rem 4.5rem rgba($color-black, 0.5);
      transform: translateY(-0.5rem) scale(1.05);
      z-index: 2;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);

  }
}
