@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/*

Break point choices and the break point resolutions

Breakpoint for phone              : phone          - 600px
Breakpoint for tablet-potrait     : tab-port       - 900px
Breakpoint for tablet-landscape   : tab-land       - 1200px
Breakpoint for desktops           : No choice here - our default stylings are applied.
Breakpoint for Big desktops       : big-desktop    - 1800px+
*/

@mixin respond($break-point) {
    @if($break-point == phone){
        @media(max-width: 600px){
            @content;
        }
    }
    @if($break-point == tab-port){
        @media(max-width: 900px){
            @content;
        }
    }
    @if($break-point == tab-land){
        @media(max-width: 1200px){
            @content;
        }
    }
    @if($break-point == big-desktop){
        @media(min-width: 1800px){
            @content;
        }
    }
    
}